body {
    background-image: url('../images/pizzeria.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-style: oblique;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background:#222;
    color: #f2f2f2;
 }
 @media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    color: white; 
  }
}

.contact {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
}